.story_board_row { // columns
  position: relative;
  background-color: rgba(white, .3);
  padding: 10px 7px;
  min-width: 60px;
  margin: 0 5px;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  &.has-stories {
    min-width: 164px
  }
  &.over {
    > .story_board_row_drop_mask {
      display: block;
    }
    background-color: rgba(white, .6);
    .story_board_row_points {
      z-index: 98;
      background-color: rgba(255,255,255,0.6);
    }
  }
  .backlog {
    @include fontsize(1.6);
    font-weight: 700;
    border-bottom: 3px solid #ccc;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: lighten($base-color, 30%);
    padding-top: 15px;
    padding-left: 3px;
    display: none;
  }
  .story:not([class*='hide-me']) ~ .backlog {
    display: block;
  }
  .story_board_row_drop_mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    display: none;
  }
  .stories {
    position: relative;
    width: 100%;
    overflow: auto;
  }
  .story_board_row_points {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 5em;
    line-height: 0.79em;
    margin-right: -0.05em;
    color: lighten($base-color, 30%);
    overflow: hidden;
  }
}

#story-unassigned-placeholder {
  height: 10%;
}

#story-points-undefined {
  flex: none;
  position: absolute;
  top: 90%;
  display: block;
  background-color: white;
  z-index: 100;
  left: 0;
  right: 0;
  min-height: 10%;
  padding: 15px;
  overflow-x: none;
  @include box-shadow(0px, -5px, 15px, rgba(black, .05));
  &:hover {
    top: auto;
    bottom: 0px;
    max-height: 50%;
  }
  .story {
    max-width: 100%;
    vertical-align: top;
    display: inline-block;
    margin: 5px;
  }
}