#story_board_epics {
  @include flexbox();
  @include flex(row wrap);
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  @include fontsize(1.4);
}

.epic {
  @include flexbox();
  @include flex(row wrap);
  flex-wrap: nowrap;
  justify-content: flex-start;
  @include border-radius(3px);
  color: white;
  margin:5px;
  font-weight: 400;
  white-space: nowrap;

  .epic-name {
    padding: 4px 8px;
  }

  .story-points {
    background-color: rgba(black, .1);
    padding: 4px 7px;
  }

  &.epic-color-0 {
    background-color: lighten($base-color, 60%)
  }

  @for $i from 1 through 11 {
    &.epic-color-#{$i} {
      background-color: nth($colors, $i);
    }
  }
}
