.story
  margin-bottom: 8px
  min-width: 150px
  max-width: 350px
  transition: all 0.1s ease-out
  border-left: 2px solid

  &:hover
    @include box-shadow(0px, 2px, 3px, rgba(black, .15))
    margin-top: -3px
    margin-bottom: 11px
    cursor: pointer

  &.epic-color-0
    background-color: lighten($base-color, 75%)
    border-color: lighten($base-color, 60%)

  &.epic-color-1
    background-color: lighten($card-blue, 45%)
    border-color: $card-blue

  &.epic-color-2
    background-color: lighten($card-green, 50%)
    border-color: $card-green

  &.epic-color-3
    background-color: lighten($card-orange, 54%)
    border-color: $card-orange

  &.epic-color-4
    background-color: lighten($card-pink, 49%)
    border-color: $card-pink

  &[draggable=false]
    user-select: none
    cursor: not-allowed
    -webkit-touch-callout: none
    -webkit-user-select: none

  .story-main
    @include flexbox()
    flex-flow: row
    justify-content: space-between
    padding: 5px 10px

    .story-key
      @include fontsize(1.4)
      color: #999
      font-weight: 700
      margin: 0
      text-transform: uppercase

    .story-summary
      font-weight: 400
      line-height: 1.4em

  .story-points-bar
    @include fontsize(2.1)
    font-weight: 300
    color: lighten($base-color, 60%)
    padding: 10px 0px
    text-align: right
    line-height: 27px
    min-width: 18px

  .story-description
    @include fontsize(1.3)
    color: lighten($base-color, 20%)
    line-height: 1.4em
    padding: 12px
    background-color: rgba(white, .5)
    margin-left: -2px
    display: none

.story-top
  white-space: nowrap
  display: flex
  flex-direction: row
  justify-content: space-between

// .linked-story
//   &:before
//     display: block
//     width: 100%
//     height: 100%
//     position: absolute
//     content: ''
//     background: blue
//     top: 0px
//     left: 0px
//     text-align: center
//     vertical-align: middle
//     opacity: 0.3
//   &:after
//     width: 100%
//     height: 100%
//     position: absolute
//     content: attr(data-content)
//     top: 0px
//     left: 0px
//     text-align: center
//     vertical-align: middle
//     opacity: 1
//     display: block
//     font-weight: bold
//     font-size: 39px
//     text-shadow: black
//     color: #0000FF
//     -webkit-text-stroke: 1px white
//   &.story-blocker:after
//     color: #FF0000
//   &.story-frees:after
//     color: #00FF00
