@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

@import "_mixins";
@import "_colors";
@import "_storyCard";
@import "_column";
@import "_subset";
@import "_menu";

$font-stack: "Roboto Condensed", sans-serif;

html {
  font-size: 62.5%;
}

.overlay {
  font-family: $font-stack;
  @include clearfix;
  @include flexbox;
  @include flex(column);
  flex-direction: column;
  background-color: lighten($base-color, 65%);
  @include fontsize(1.6);
  font-weight: 400;
  color: $base-color;
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  color: black;
}

#error-banner {
  @include fontsize(1.4);
  color: white;
  padding: 15px;
  background-color: #ef6060;
  font-weight: 300;
  margin: 0;

  li {
    display: block;
    list-style-position:inside;
    margin: 2px;
    padding: 10px;

    a {
      text-decoration: none;
      &:link {
        color: white;
        text-decoration: none;
      }
      &:visited {
        color: white;
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
        color: white;
      }
      &:active {
        text-decoration: none;
        color: white;
      }
    }

    .error-message {
      @include fontsize(2.5);
      margin-bottom: 14px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-style: hidden;

      td {
        padding: 3px 10px;

        &.heading {
          text-transform: uppercase;
          padding: 3px 0;
          width: 1%;
          white-space: nowrap;
        }
        &.response-text {
          max-height: 300px;
          display: block;
          overflow: scroll;
        }
      }
    }
  }

  &:empty {
    display: none;
  }
}

#story-board-banner {
  @include fontsize(3.6);
  color: white;
  padding: 15px;
  background-color: $header-container;
  font-weight: 300;
  @include flexbox();
  justify-content: space-between;
  align-items: center;
}

#story-board-selecters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & > div {
    padding: 10px;
  }
}

#story_board {
  flex-shrink: 20000;
  flex-grow: 20000;
  overflow: hidden;
  @include flexbox;
  @include flex(row no-wrap);
  overflow-x: auto;
  justify-content: left;
}

.story_board_row_points {
  text-align: center;
}

.show-me {
  display: block !important;
}

.hide-me {
  display: none !important;
}

.story_board_row.forced-ordering {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .story-stack {
    .story {
      width: 500px;
      .story-description {
        display: block;
      }
      &:nth-of-type(n+2) {
        display: none;
      }
    }
  }
  .story-points, .story-business {
    display: none;
  }
  .story-point {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: black;
    color: white;
  }
}



label {
  position:relative;
  cursor:pointer;

  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + span {
      display:inline-block;
  }
  span {
    margin:5px 0;
    font-weight: 400;
    padding: 4px 8px;
    @include border-radius(3px);
  }
  input[type="radio"] + span {
    background-color: rgba(white, .3);
    color: rgba(0,0,0,0.5);
  }
  input[type="radio"]:checked + span {
    background: white;
    color: $base-color;
  }
  input[type="radio"][disabled] + span {
    cursor: default;
    color: transparent;
    background-color: rgba(white, .3);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
  }
}
