@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);

@import "_mixins";
@import "_colors";
@import "_storyCard";
@import "_column";
@import "_epic";

$font-stack: "Roboto Condensed", sans-serif;

html {
  font-size: 62.5%;
}

.overlay {
  font-family: $font-stack;
  @include clearfix;
  @include flexbox;
  @include flex(column);
  flex-direction: column;
  background-color: lighten($base-color, 65%);
  @include fontsize(1.6);
  font-weight: 400;
  color: $base-color;
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  color: black;
}

#story-board-banner {
  @include fontsize(3.6);
  color: white;
  padding: 15px;
  background-color: $header-container;
  font-weight: 300;
}

#story_board_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & > div {
    padding: 10px;
  }
}

#story_board {
  flex-shrink: 20000;
  overflow: hidden;
  @include flexbox;
  @include flex(row no-wrap);
  overflow-x: auto;
  justify-content: left;
}

.story_board_row_points {
  text-align: center;
}

.show-me {
  display: block !important;
}

.story_board_row.forced-ordering {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .story-stack {
    .story {
      width: 500px;
      .story-description {
        display: block;
      }
      &:nth-of-type(n+2) {
        display: none;
      }
    }
  }
  .story-points, .story-business {
    display: none;
  }
  .story-point {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: black;
    color: white;
  }
}



label {
  position:relative;
  cursor:pointer;

  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + span {
      display:inline-block;
  }
  span {
    margin:5px 0;
    font-weight: 400;
    padding: 4px 8px;
    @include border-radius(3px);
  }
  input[type="radio"] + span {
    background-color: rgba(white, .3);
    color: rgba(0,0,0,0.5);
  }
  input[type="radio"]:checked + span {
    background: white;
    color: $base-color;
  }
  input[type="radio"][disabled] + span {
    cursor: default;
    color: transparent;
    background-color: rgba(white, .3);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
  }
}
