**/.DS_Store
.sass-cache
extension/js/**/*.js
extension/templates/*.html
extension/templates/*.css
!extension/js/jquery.min.js
extension/manifest.json
spec/javascripts/**/*.js
spec/javascripts/fixtures/json/**/*.json
spec/javascripts/fixtures/**/*.html
!spec/javascripts/helpers/mock-ajax.js
!spec/javascripts/helpers/jasmine-jquery.js
!spec/javascripts/helpers/blanket_jasmine.js
.idea

# Compiles Coffeescripts
src/js
*.crx
*.pem