<div class="overlay">
  <style scoped="scoped">
    .overlay {
      display: block;
      z-index: 2;
      background: #000;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      text-align: center;
      color: white;
      overflow-y: scroll;
    }
    #story_board {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      justify-content: left;
    }
    .story_board_row .story_board_row_drop_mask {
      position:absolute;
      width: 100%;
      height:100%;
      z-index:99;
      display:none;
      margin:-2px;

    }
    .story_board_row {
      position: relative;
      flex-grow: 1;
      min-width: 250px;
      margin: 5px;
      background: #48482A;
    }
    .story_board_row.over {
      background: #008;
    }
    .story {
      display: flex;
      flex-direction: column;
      justify-content: space-between;      
      border-width: 1px;
      border-color: white;
      padding: 4px;
      margin-bottom: 2px;
      border-radius: 2px;
      border-style: solid;
    }
    .story_id {
      display: block;
      float: center;
    }
    .story_summary {
      text-align: left;
    }

  </style>
  <a id="close_story_board">Close</a>
  <div id="story_board">
  </div>
</div>