<style scoped="scoped">
  .story_board_row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .story-stack .story {
    width: 500px;
  }
  #story_board {
    min-height: 80%;
  }
  .story-stack .story .story-description{
    display: block;
  }
  .story-stack .story:nth-of-type(n+2) {
    display:none;
  }
  .story-points,.story-business {
    display:none;
  }
</style>

<div id="drop-zone" class= 'story_board_row forced-ordering' dropable="true">
</div>
<div class= 'story_board_row forced-ordering detailed-cards'>
  <div class='story-stack'></div>
</div>
