#dummy-jira-page
  #ghx-modes.aui-buttons.ghx-modes.js-mode-selector
    a#plan-toggle.aui-button.active data-tooltip=("Plan mode ( 1 )") href="/secure/RapidBoard.jspa?rapidView=1&amp;view=planning" original-title="" tabindex="0"  Plan
    a#work-toggle.aui-button data-tooltip=("Work mode ( 2 )") href="/secure/RapidBoard.jspa?rapidView=1&amp;view=detail" original-title="" tabindex="0"  Work
    a#report-toggle.aui-button data-tooltip=("Report mode ( 3 )") href="/secure/RapidBoard.jspa?rapidView=1&amp;view=reporting" original-title="" tabindex="0"  Report
